@module1ViewPosition: (@module1Position - 15px);
@module2ViewPosition: (@module2Position - 15px);
@module3ViewPosition: (@module3Position - 15px);
@module4ViewPosition: (@module4Position - 15px);
@module5ViewPosition: (@module5Position - 15px);

/* Déplacement horizontal du chariot */
@keyframes cartSlide {
    0% {
        left: 0;
    }
    20%, 45% { 
        left: @module2ViewPosition;
    }
    45%, 65% {
        left: @module4ViewPosition;
    }
    65%, 75% {
        left: @module1ViewPosition;
    }
    100% {
        left: @module5ViewPosition;
    }
}

/* Déplacement horizontal du verre */
@keyframes glassSlide {
    0% {
        left: 0;
    }
    20%, 45% { 
        left: @module2ViewPosition;
    }
    45%, 65% {
        left: @module4ViewPosition;
    }
    65%, 75% {
        left: @module1ViewPosition;
    }
    100% {
        left: @module5ViewPosition;
    }
}

/* Ecoulement du liquide dans la bouteille */
@keyframes bottleFlow {  
    /*0%, 10% {
    height: 80%;
    }
    10%, 20% {
    height: 79%;
    }
    20%, 30% {
    height: 78%;
    }
    30%, 40% {
    height: 77%;
    }
    40%, 50% {
    height: 76%;
    }
    50%, 60% {
    height: 75%;
    }
    60%, 70% {
    height: 74%;
    }
    70%, 80% {
    height: 73%;
    }
    80%, 90% {
    height: 72%;
    }
    90%, 100% {
    height: 71%;
    }*/
}

/* Remplissage du verre */
@keyframes glassFill {
    0% {
        height: 0;
    }
    20%, 45% { 
        height: 30px;
        background-color: @redCocktail;
    }
    45%, 65% {
        height: 60px;
        background-color: @purpleCocktail;
    }
    65%, 75% {
        height: 90px;
        background-color: @purpleCocktail;
    }
    100% {
        height: 90px;
        background: linear-gradient(to bottom, @greenCocktail 0%, @greenCocktail 5%, @purpleCocktail 15%);
    }
}

/* Vagues dans le liquide lors de l'écoulement du liquide dans la bouteille
   et le remplissage du verre */
@keyframes wave {
    from {
        transform: skew(0, -3deg);
    }
    to {
        transform: skew(0, 3deg);
    }
}
