.pourer(@position, @cocktailColor, @cocktailHeight) {
    height: 200px; width: 70px;
    position: absolute;
    bottom: 0; left: @position;
    background-color: #AA6129;
    border-right: solid 30px #603F25;

    /* Plaque du fond du module */
    &:after {
        height: 220px; width: 81px;
        position: absolute;
        top: -220px; left: 16px;
        background-color: #8E562D;
        border-right: solid 3px #603F25;
        content: '';
    }

    /* Bouteille */
    .bottle {
        .glassEffect(3px);

        height: 200px; width: 64px;
        position: absolute;
        top: -210px; left: 17px;
        z-index: 2;
        border-radius: 1px 1px 20px 20px;

        /* Liquide dans la bouteille */
        &:after {
            height: @cocktailHeight; width: 58px;
            position: absolute;
            margin: 0 2px 0 4px;
            bottom: 3px; left: 0;
            background-color: @cocktailColor;
            border-radius: 1px 1px 17px 17px;
            content: '';
        }

        /* Bouchon de bouteille */
        .cap {
            .glassEffect(3px);

            height: 10px; width: 18px;
            position: absolute;
            top: 200px; left: 23px;

            /* Liquide dans le bouchon de bouteille */
            &:after {
                display: block;
                height: 13px; width: 12px;
                position: absolute;
                margin: 0 2px 0 4px;
                bottom: 0;
                background-color: @cocktailColor;
                content: '';
            }
        }
    }
    
    &:nth-child(1) {
        /* Ecoulement du liquide dans la bouteille */
        .bottle:after {
            animation: bottleFlow1 @animationLength ease-in infinite;
    
            @keyframes bottleFlow1 {
                0%, 61% {
                    height: 20%;
                }
                62%, 100% {
                    height: 10%;
                }
            }
        }

        /* Animations du liquide qui sort de la pompe */
        .pump:after {
            animation: pumpFlow1 @animationLength ease-in infinite;

            @keyframes pumpFlow1 {
                0%, 61% {
                    height: 0;
                }
                62% {
                    height: 117px;
                }
                63% {
                    height: 113px;
                }
                64% {
                    height: 109px;
                }
                65% {
                    height: 104px;
                }
                66% {
                    height: 98px;
                }
                67% {
                    height: 93px;
                }
                68% {
                    height: 88px;
                }
                69% {
                    height: 84px;
                }
                70% {
                    height: 79px;
                }
                71% {
                    height: 74px;
                }
                72% {
                    height: 69px;
                }
                73% {
                    height: 64px;
                }
                74% {
                    height: 59px;
                }
                75%, 100% {
                    height: 0;
                }
            }
        }
    }

    &:nth-child(2) {
        /* Ecoulement du liquide dans la bouteille */
        .bottle:after {
            animation: bottleFlow2 @animationLength ease-in infinite;
    
            @keyframes bottleFlow2 {
                0%, 15% {
                    height: 90%;
                }
                16% {
                    height: 86%;
                }
                100% {
                    height: 86%;
                }
            }
        }

        /* Animations du liquide qui sort de la pompe */
        .pump:after {
            animation: pumpFlow2 @animationLength ease-in infinite;

            @keyframes pumpFlow2 {
                0%, 15% {
                    height: 0;
                }
                16%, 17% {
                    height: 150px;
                }
                18% {
                    height: 147px;
                }
                19% {
                    height: 144px;
                }
                20% {
                    height: 141px;
                }
                21% {
                    height: 138px;
                }
                20% {
                    height: 135px;
                }
                21%, 100% {
                    height: 0;
                }
            }
        }
    }

    &:nth-child(4) {
        /* Ecoulement du liquide dans la bouteille */
        .bottle:after {
            animation: bottleFlow4 @animationLength ease-in infinite;
    
            @keyframes bottleFlow4 {
                0%, 40% {
                    height: 52%;
                }
                41% {
                    height: 50%;
                }
                100% {
                    height: 50%;
                }
            }
        }

        /* Animations du liquide qui sort de la pompe */
        .pump:after {
            animation: pumpFlow4 @animationLength ease-in infinite;

            @keyframes pumpFlow4 {
                0%, 40% {
                    height: 0;
                }
                41% {
                    height: 131px;   
                }
                42% {
                    height: 128px;
                }
                43% {
                    height: 125px;
                }
                44% {
                    height: 116px;
                }
                45%, 100% {
                    height: 0;
                }
            }
        }
    }

    /* Axe vertical de la pompe */
    .pump {
        .glassEffect(2px);

        height: 50px;  width: 8px;
        position: absolute;
        top: 30px; left: 18px;

        /* Axe horizontal de la pompe */
        &:before {
            display: block;
            height: 20px; width: 20px;
            position: absolute;
            top: -5px; left: 6px;
            background: linear-gradient(to bottom, #CCD1D9 50%, #AAB2BD 50%);
            border-radius: 0 10px 10px 0;
            content: '';
        }

        /* Liquide qui sort de la pompe */
        &:after {
            display: block;
            width: 6px;
            position: absolute;
            margin-top: 12px;
            margin-left: 2px;
            background-color: @cocktailColor;
            border-radius: 0 0 5px 5px;
            content: '';
        }
    }

    /* Axe de la pompe (rond) */
    .pump-front {
        height: 14px; width: 14px;
        position: absolute;
        top: 25px; left: 13px;
        background-color: #F5F7FA;
        border: solid 3px #CCD1D9;
        border-radius: 10px;
    }
}
